# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.log
.env
venv/
.venv/

# ==========================
# Node.js
# ==========================
node_modules/
dist/
build/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# JetBrains
# ==========================
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment
# ==========================
.env.*
!.env.example